/* MAKE BAckground */
.head-header-wrapper {
  background: url("img/bg-header.png") no-repeat center/cover;
  position: relative;
  min-height: 800px;
  padding-top: 50px;
}

/*.head-header-wrapper {*/
/*content: '';*/
/*display: block;*/
/*background-color: #212121;*/
/*opacity: 0.87;*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*}*/

.header-text-block {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.header-text-block p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  letter-spacing: 1.4px;
  margin-bottom: 46px;
}

.header-button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-variant: small-caps;
  letter-spacing: 1.2px;
  text-decoration: none;
  margin-top: 100px;
}

.header-button:hover {
  background-color: #6a6bff;
}
