/* General */
.main-wrapper {
  display: grid;
  grid-template-colums: 70% 30%;
  grid-template-areas:
      "blogs-container sidebar-block";
  margin-top: 40px;

  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.blogs-container {
  grid-area: blogs-container;
  width: 820px;
  padding-bottom: 40px;
}

.sidebar-block {
  grid-area: sidebar-block;
  background: #fff;
  border-radius: 4px 4px 0 0;
  padding-right: 30px;
  padding-left: 30px;
}

/* Big Block */

.main-big-block {
  display: grid;
  background: #fff;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas:
      "main-big-block-img main-big-block-img main-big-block "
      "article-text article-text article-text"
      "article-author author-name more-button"
      "article-author date-publication more-button";
}

.main-big-block-img {
  grid-area: main-big-block-img;
  margin-bottom: 10px;
}

.btns-wrapper {
  grid-area: btns-wrapper;
  border: 1px solid black;
}

.article-text {
  grid-area: article-text;
  width: 763px;
  margin-bottom: 20px;
}

.article-text p {
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.article-text h3 {
  opacity: 0.87;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
}

.article-author {
  grid-area: article-author;
  text-align: center;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.author-name {
  grid-area: author-name;
  opacity: 0.87;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.7px;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.author-name p {
  padding-bottom: 0;
}

.date-publication {
  grid-area: date-publication;
  opacity: 0.54;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.more-button {
  grid-area: more-button;
  text-align: end;
  padding-right: 10px;
  padding-top: 28px;
  padding-right: 20px;
}

/* --- Three Blocks --- */

/* - GENERAL - */
.main-three-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "left-small-block central-small-block right-small-block";
  margin-top: 40px;
}

.left-small-block {
  grid-area: left-small-block;
}

.central-small-block {
  grid-area: central-small-block;
  margin-left: 20px;
}

.right-small-block {
  grid-area: right-small-block;
  margin-left: 20px;
}


.left-small-block,
.central-small-block,
.right-small-block {
  display: grid;
  background: #fff;
  grid-template-columns: 25% 45% 30%;
  grid-template-areas:
      "small-block-img small-block-img small-block-img "
      "small-block-text small-block-text small-block-text"
      "small-block-author small-block-author-name small-block-author-name"
      "small-block-author small-block-date-publication small-block-more-button";
}

.small-block-img {
  grid-area: small-block-img;
}

.small-block-img img {
  width: 260px;
  height: 160px;
}

.small-block-text {
  grid-area: small-block-text;
}

.small-block-text h3 {
  opacity: 0.87;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.small-block-text p {
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.56px;
}

.small-block-author {
  grid-area: small-block-author;
  text-align: center;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-top: 20px;
}

.small-block-author img {
  width: 50px;
  height: 50px;
}

.small-block-author-name {
  grid-area: small-block-author-name;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-top: 20px;
  opacity: 0.87;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.small-block-more-button {
  grid-area: small-block-more-button;
}

.small-block-more-button img {
  padding-left: 49px;
}

.small-block-date-publication {
  grid-area: small-block-date-publication;
  opacity: 0.54;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
}

/*<!--  MORE button in MINE-wrapper block -->*/
.load-more-articles {
  text-align: right;
  margin-top: 40px;
}

.a-more {
  /*display: block;*/
  margin-right: 59px;
}

.more-img {
  margin-left: 10px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -30px;
}