/* nav-head General */
.nav-head-wrapper {
  /*max-width: 1170px;*/
  display: grid;
  grid-template-areas:
      "logo nav-head-links";
  grid-template-columns: 38% 62%;
  margin-bottom: 142px;
}

/* LOGO style start */
.logo {
  grid-area: logo;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  text-align: center;
}

.logo p {
  display: inline;
}
/*LOGO end */

/* LINKS header start */
.nav-head-links {
  grid-area: nav-head-links;
}

.nav-head-links a {
  text-transform: uppercase;
  position: relative;
  transition: all 0.25s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.nav-head-links a:hover {
  color: #00ffff;
}

.nav-ul-menu {
  display: inline;
}

.nav-ul-menu li {
  display: inline-block;
  padding-top: 5px;
}
/* LINKS header end */
