.sidebar {
  background: #fff;
  max-width: 330px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  padding-right: 30px;
  padding-left: 30px;
}

/*------- Search -------*/
.search-sidebar {
  margin-bottom: 30px;
}

.search-sidebar-form {
  position: relative;
}

.search-sidebar-form input {
  padding-right: 43px;
  width: 272px;
  height: 48px;
  border-radius: 22px;
  border: 1px solid #000;
  background-color: #f5f5f5;
}

.search-sidebar-form button {
  position: absolute;
  top: 15px;
  right: 3px;
  border-radius: 50%;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  background-color: #ff4081;
  width: 35px;
  height: 35px;
}

.search-sidebar-form .fa-search {
  border-right: 0;
  padding-right: 0;
  color: #fff;
}


/* ----------- Category ----------- */

.aside-categories {
  margin-bottom: 29px;
  margin-top: 11px;
}

.aside-categories p {
  margin-bottom: 10px;
}

.aside-categories,
.aside-form,
.post-widget,
.container-tags p {
  color: #3f51b5;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.aside-categories ul li a {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.56px;
}

.sidebar-category-list {
  border-top: 1px solid #2962ff;
}

ul.sidebar-category-list li {
  display: block;
  border-bottom: 1px solid #000;
}

ul.sidebar-category-list li:last-of-type {
  border-bottom: none;
}

ul.sidebar-category-list li a {
  display: flex;
}


ul.sidebar-category-list li a span {
  display: block;
  margin-right: 0;
  margin-left: auto;
}
/*----- form ---------------*/

.aside-form {
  border-bottom: none;
}

.aside-form form {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
  border-top: 1px solid #2962ff;
  margin-top: 10px;
}

.form-button-sidebar:hover {
  background-color: #6a6bff;
}

.button-sidebar {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

.form-button-sidebar {
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #3f51b5;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 3px;
}

input {
  border: 1px solid #000;
  border-radius: 4px;
  opacity: 0.12;
  padding: 10px;
  margin-top: 9px;
}

/* ------ social networks icons (start) ---------  */

.social-icons {
  margin-top: 25px;
}

.social-icons ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: none;
}

.icon {
  font-size: 0;
  display: block;
  height: 30px;
  width: 30px;
  background: #0000ff;
  border-radius: 50%;
}

.icon-fb {
  width: 36px;
  height: 36px;
  background: #3b5999 url("../img/facebook.png");
}

.icon-tw {
  width: 36px;
  height: 36px;
  background: #55acee url("../img/twetter.png");
}

.icon-vk {
  width: 36px;
  height: 36px;
  background: #4c75a3 url("../img/vc.png");
}

.icon-p {
  width: 36px;
  height: 36px;
  background: #ff2e56 url("../img/P.png");
}

.icon-t {
  width: 36px;
  height: 36px;
  background: #34465d url("../img/t.png");
}

.icon-d {
  width: 36px;
  height: 36px;
  background: #ea4c89 url("../img/dribble.png");
}

.social-ul-icons li {
  display: inline-block;
}


/* ------ social networks icons (end) ---------  */
/*-------- tab post widget start ----------------*/
.post-widget {
  margin-top: 45px;
}

.post-head {
  border-bottom: 1px solid #2962ff;
}

.post-head p {
  padding-bottom: 10px;
}


.search-button {
  margin: 20px 0 20px;
}

.search-button ul{
  display: flex;
  width: 100%;
}


.li-left,
.li-right {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  width: 50%;
  height: 43px;
  border-radius: 4px 0 0 4px;
  background-color: #3f51b5;
  padding-top: 5px;
  padding-left: 20px;
}

.li-right {
  color: #3f51b5;
  border-radius: 0 4px 4px 0;
  border: 1px solid #3f51b5;
  background: #fff;
  padding-left: 6px;
}
/* 4 Posts start */


.one-post {
  display: flex;
  justify-content: space-between;
}

.post-img {
  width: 174px;
}

.one-post {
  display: flex;
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #dee5e9;
}

.one-post-end {
  border-bottom: none;
}

.post-text p {
  font-family: "Open Sans - Bold", serif;
  font-weight: 700;
  letter-spacing: 0.56px;
  line-height: 21px;
  color: #000;
  font-size: 12px;
  padding-top: 5px;
  border: none;
}

.post-data {
  display: flex;
  justify-content: space-between;
}

.post-blog {
  margin-left: 15px;
}

/* ------- 4 Posts end --------------*/
/*-------- tab post widget end-- ----------------*/

/* Tags start */

.tags-head {
  border-bottom: 1px solid #2962ff;
  margin-bottom: 20px;
}

.tags-head p {
  padding-bottom: 10px;
}

.ul-tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  border-radius: 4px;
  background-color: #eee;
  padding: 7px;
}

/* Tags end */

