.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #f9fafe;
  font-family: Raleway, serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.54px;
  margin-bottom: 40px;
}

h3 {
  color: #f9fafe;
  font-family: Open Sans, serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 90px;
}

a {
  text-decoration: none;
}
