body {
  background-color: #FFFFCA;
}

.text-wrapper {
  font-size: 20px;
  margin: 20px 10px;
}

.text-edit {
  list-style: none;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}
